<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CARS</title>
  </head>
  <body>
    <a href="/cars">Browse Cars</a>
    <h1>Welcome to Car Manager!</h1>
    <p>Welcome to Car Manager, your go-to platform for managing your car collection with ease. 
      Our front page provides a streamlined and user-friendly interface for you to interact with 
      and organize your vehicles.</p>
  </body>
</html>
